.d-container {
  width: 70%;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.d-btn-container {
  /*border: 2px solid red;*/
  margin: 0 0 30px;
}

.d-back-btn {
}

.d-poster {
  height: 400px;
}

.d-text-container {
  display: flex;
  flex-direction: column;
  padding: 50px 0 0 50px;
}

.d-content-container {
  display: flex;
}

.d-title {

}

.d-overview {

}