* {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  box-sizing: border-box;
  color: #D4A931;
}

body {
  background-color: #70929C;
}

.App {
  text-align: center;
}

.header-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 7%;
  background-color: #48788C;
}

.logo {
  display: flex;
  align-items: flex-end;
  font-size: 4rem;
}

.logo-icon {
  height: 150px;
}