@font-face {
  font-family: "Futura";
  src: url("../../assets/fonts/Futura/Futura") format("woff");
  font-weight: 400 700;
}

.App {
  background-color: #70929C;
  font-family: "Futura", sans-serif;
  letter-spacing: 0.5px;
  box-sizing: border-box;
  color: #D4A931;
}

.header-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 7%;
  background-color: #48788C;
}

.logo {
  display: flex;
  align-items: flex-end;
  font-size: 3rem;
  font-weight: 700;
}

.logo-icon {
  height: 150px;
}