.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 200px;
  font-size: 1.25rem;
}

.fav-btn-group {
  /*text should be display: none until :hover, then CSS transition ease in above the respective icon;*/
}

.fav-btn-nav {
  height: 50px;
  width: 50px;
  background-image: url('../../assets/images/hatFull-red.svg');
  background-size: cover;
}

.num-favs {
  position: relative;
  top: 5px;
  left: 25px;
}

.favorites-text,
.login-text {
  position: relative;
  color: #D4A931;
  opacity: 0;
}

a:hover p {
  opacity: 1;
}

a:hover .login-text {
  bottom: 50px;
  right: 50px;
}

a:hover .favorites-text {
  bottom: 50px;
  right: 25px;
}

.login-text {
  bottom: 30px;
  right: 50px;
  transition: 1s;
}

.favorites-text {
  bottom: 30px;
  right: 25px;
  transition: 1s;
}

.login-btn {
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-icon {
  height: 50px;
  background-image: url('../../assets/images/margot.png');
  background-size: cover;
}

a {
  color: #D4A931;
  text-decoration: none;
}