@font-face {
  font-family: "Futura";
  src: url("../../assets/fonts/Futura/Futura") format("woff");
  font-weight: 400 700;
}
.App {
  font-family: "Futura", sans-serif;
  letter-spacing: 0.5px;
  box-sizing: border-box;
  color: #D4A931;
}
.header-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding-bottom: 20px;
  height: 120px;
  background-color: #48788C;
  box-shadow: 1px 1px 10px 4px #4c6c7c;
}
.logo {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 3rem;
  font-weight: 700;
}
.logo-icon {
  height: 100px;
}