@font-face {
  font-family: "Futura";
  src: url("../../assets/fonts/Futura/Futura") format("woff");
  font-weight: 400 700;
}

.App {
  background-color: #70929C;
  font-family: "Futura", sans-serif;
  letter-spacing: 0.5px;
  box-sizing: border-box;
  color: #D4A931;
}

.header-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 7% 20px 0;
  height: 110px;
  background-color: #48788C;
  box-shadow: 1px 1px 10px 4px #0000004f;
}

.logo {
  display: flex;
  align-items: flex-end;
  font-size: 3rem;
  font-weight: 700;
}

.logo-icon {
  height: 100px;
}