* {
  background-color: grey;
}

.nav-container {
  display: flex;
  align-items: flex-end;
}

.nav-link {
  text-decoration: none;
}

.fav-btn {
  height: 40px;
  width: 40px;
  background-image: url('../../assets/images/empty-heart.svg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.login-btn {
  display: flex;
  align-items: center;
}

.login-icon {
  height: 40px;
  background-image: url('../../assets/images/margot.png');
  background-size: cover;
}